$dark-green: #166e78;
$light-green: #2ce6ce;
$teal: #31727c;
$white: #fff;
$gray: #606060;
$dark-grey: #474747;
$mild-green: #1b828e;
$dark-teal: #0d4d54;
$light-grey: #ededed;

//Brand colors
$brand-color: $dark-green;
